
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    width: 300%;
    max-width: 900px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }
  
  .salas-disponibles {
    width: 300%;
    max-width: 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
  }
  
  .salas-disponibles h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .salas-disponibles ul {
    list-style-type: none;
    padding: 0;
  }
  
  .salas-disponibles li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .salas-disponibles li:last-child {
    border-bottom: none;
  }
  
  .salas-disponibles button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .salas-disponibles button:hover {
    background-color: #45a049;
  }
  
  .mensajes-recibidos {
    flex: 1;
    max-width: 700px;
    height: 300px; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .mensajes-recibidos h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .mensajes-recibidos ul {
    list-style-type: none;
    padding: 0;
  }
  
  .mensajes-recibidos li {
    margin-bottom: 8px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 250px;
    margin-right: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  